.etel-header-row{
	border-bottom: 3px solid white;
}
.etel-row{
	border-bottom: 1px solid white;
	height: 90px;
	margin-top: 10px;	
}
.etlap-img{
	max-height: 80px;
	border-radius: 5px;
}

.menu-v-align{
	vertical-align: top;
	padding: 8px;
}